.venv/
env/
venv/

.env

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log

build/
dist/
*.egg-info/
.eggs/

app/database/migrations/versions/

*.db
*.sqlite3

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.pid
docker/*.log
